body {
    background-image: url("/assets/images/bg-img.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}

#heading-text {
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
    margin: 15px;
    padding: 15px;
}

#home-task-container {
    width: 33%;
    display: inline;
    position: absolute;
    left: 75px;
    
}

#work-task-container {
    width: 33%;
    display: inline;
    position: absolute;
    right: 100px;  
}

label {
    font-size: 20px;
    margin: 10px;
}

li {
    margin: 5px;
    font-size: 25px;
    
}

ul {
    position: absolute;
    top: 75px;
}

#home-task-text {
    display: none;
    position: absolute;
    left: 110px;
    top: 30px;
}

#work-task-text {
    display: none;
    position: absolute;
    left: 110px;
    top: 30px;
}

#clear-local-storage {
    text-align: center;
    position: absolute;
    top: 700px;
    left: 45%;
}

#current-home-tasks {
    background: transparent;
    border: none;
    resize: none;
}
