body {
    background-image: url("/assets/images/bg-img.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}

#heading-text {
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
    margin: 15px;
    padding: 15px;
}

#home-task-container {
    width: 33%;
    display: inline;
    position: absolute;
    left: 75px;
    
}

#work-task-container {
    width: 33%;
    display: inline;
    position: absolute;
    right: 100px;  
}

label {
    font-size: 20px;
    margin: 10px;
}

li {
    margin: 5px;
    font-size: 25px;
}
