#heading-text {
    text-align: center;
    font-style: italic;
    font-weight: bolder;
}

#home-task-container {
    width: 33%;
    display: inline;
    position: absolute;
    left: 50px;
}

#work-task-container {
    width: 33%;
    display: inline;
    position: absolute;
    right: 10px;  
}